{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1 class="text-center mt-3">{{ head_text }}</h1>
    <h4 class="text-center mt-3">{{ date }}</h4>
    {% if request.user.is_authenticated %}
    <div class="container mt-3">
        <table class="table table-success table-striped">
            <thead>
            <tr>
                <th scope="col">Код цифровий</th>
                <th scope="col">Код літерний</th>
                <th scope="col">Назва валюти</th>
                <th scope="col">Офіційний курс</th>
            </tr>
            </thead>
            <tbody>
            {% for c in rates %}
            <tr>
                <td>{{ c.digital_code}}</td>
                <td>{{ c.letter_code}}</td>
                <td>{{ c.rate_name}}</td>
                <td>{{ c.official_rate}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}
